*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000042;
    height: 100vh;
    width: 100vw;
    margin-top: 4rem;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
/* ------------nav------------- */
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 990;
    
}
.nav{
    height: 4%;
    width: 100%;
    background-color: #000042;
    background-image: url(./img/idoG8HR9sT_logos.png);
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    background-position: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.nav h3{
    position: absolute;
    left: 3.5rem;
}
.na{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    text-align: center;
}
.na a{
    height: 4rem;
    width: 5.7rem;
    color: white;
    text-decoration: none;
    padding: 22px 0;

}
.btnn{
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    position: absolute;
    right: 1rem;
   
}
.btnn button{
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 15px;
}
.sb{
    color: white;
    border: 1px solid white;
    background: transparent;
}
.db{
    color: white;
    border: none;
    background-color: #2E47DE;
}
.hh{
    height:1rem;
    overflow:hidden;
}
.inn{
     height: 12rem;
    width: 10rem;
    border-radius: 5px;
    position: absolute;
    top: 4rem;
    left: 42.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}
.inn li{
        font-size: 1.1rem;
    padding: 10px;
    width: fit-content;
    margin-left: 14px;
    list-style-type: none;
    text-align: left;
    padding: 10px;
    color: white;
}
.na a:hover{
    color:#2E47DE;
}
.hh:hover .inn{
     display: block;
    z-index: 1000;
}
.inn li:hover{
    border-bottom: 1.5px solid white;
}
.sb:hover{
    background-color:white;
    border: none;
    color: #000042;
}
.db:hover{
    background-color:white;
    color: #000042;
}
/* ------------nav------------- */

/* -------------main--------------- */
/*---------- Affiliate text ---------- */
main{
    text-align: center;
}
.hd{
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 10rem 0;
}
.hd h1{
    font-size: 8rem;
    margin: 1rem 0;
     animation: hdtxt 1s linear;
}
.hd p{
    font-size: 1.2rem;
    width: 70%;
    margin: 1rem 0;
     animation: hdtxt 1s linear;
}
.hd button{
    padding: 13px;
    font-size:1rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: #2E47DE;
     animation: hdtxt 1s linear;
}
@keyframes hdtxt{
    from{
        transform: translateY(2rem);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.hd button:hover{
    background-color: white;
    color: #000042;
}
/*---------- Affiliate text ---------- */
/*------------ image section----------- */
.imgtier{
    color: white;
}
.imgtier h1{
    margin: 4rem 0;
    font-size: 3rem;
}
.tiers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.tier{
    width: 19.2rem;
    margin: 0 0 2.5rem;
}
.tier img{
    height: 8rem;
    width: 7rem;
}
.tier div{
    margin: 3rem;
}
.tier div h2{
    font-size: 1.9rem;
    margin: 0 0 1rem;
}
.tier div span{
    font-size: 1rem;
    color: rgb(138, 136, 136);
}
.tier div .p{
    font-size: 1.5rem;
}
.rsl{
    margin: auto;
   display: grid;
   grid-template-columns:auto auto auto;
   justify-content: center;
   gap: 0.5rem;
}
.rsl p{
    font-size:1.3rem;
    padding: 10px;
    background-color: rgb(143, 140, 140);
    border-radius: 20px;
}

/*------------ image section----------- */
/*------------box section---------------*/
.partnr h3{
    font-size: 4rem;
    color: white;
    margin: 2rem 0;
}
.box{
     /* height: 250px;
     width: 350px; */
    border: 0.5px solid rgb(71, 71, 71);
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.wbox{
    margin: 3rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
}
.wbox .bf{
    padding: 1.5rem;
    position: relative;
    right: 32%;
}
.wbox .bf i{
    color: #4962f3;
}
.wbox .bp{
    padding: 1rem;
}
.wbox .bp p{
     font-size: 1.4rem;
     color: white;
     font-weight: bold;
     text-align: left;
}
.wbox p{
    padding: 10px;
}
.box:hover {
    background-color: #2E47DE;
    color: white;
}
/*------------box section---------------*/

/*------------ timeline ----------------*/
.tlhd h2{
    font-size: 3rem;
    color: white;
    margin: 4rem;
    display: block;
}
.tl{
    width: 80%;
    margin: 6rem auto;
    color: white;
    /* text-align: center; */
}
.tlby li{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
}
.tlby p{
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 450;
    line-height: 2;
}
/*------------ timeline ----------------*/


/* -------------main--------------- */


/* ---------footer------------------- */
/* -------logo,fontawesome------------ */
.fat{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}
.fl{
    display: flex;
    align-items: center;
}
.fl img{
    height: 4rem;
    width: 4rem;
}
.fl{
    color: white;
}
.ff i{
    color: white;
    height: 2rem;
    width: 2rem;
    margin: 0 10px;
}
.ff i:hover{
    opacity: 0.8;
}
hr{
    opacity: 0.3;
}
/* -------logo,fontawesome------------ */
/* ---------footer para--------------- */
.fp p{
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    padding: 2%;
    opacity: 0.5;
}
.fpp p{
    font-size: 15px;
    opacity: 0.8;
}
/* ---------footer para--------------- */
/* ---------payment logos------------- */
.pl{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.pl img{
    height: fit-content;
    width: 4rem;
}

/* ---------payment logos------------- */
/* ----------copyright text----------- */
.cpy{
    margin: 4rem;
}
.cpy p{
    padding: 2rem;
    color: white;
    font-size: 1.4rem;
    opacity: 0.2;
    text-align: center;
}
/* ----------copyright text----------- */

/* ---------footer------------------- */

/* ------------media query------------ */
@media screen and (min-width:1200px){
    .snav{
        display: none;
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
        .nav{
        width: 100%;
        height: 4rem;
    }
      .na,.btnn{
        display: none;
    }
     .snav{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .snav_btn1{
        height: 3.5rem;
        width: 13rem;
        position: fixed;
        bottom: 5%;
        border: none;
        color: white;
        padding: 1rem 3rem;
        font-size: 1.3rem;
        border-radius: 5px;
         background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); 
    }
     .snav_btn{
        position: relative;
        right: 3rem;
        height: 35.2rem;
        width: 13rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        font-size: 1.2rem;
        padding: 1.7rem;
        border-radius: 15px;
         background:linear-gradient(to bottom,#2D47D6,#2336B1,#0C1267);
        display: none;
    }
    .snav_btn a{
        margin: 0.8rem 0;
        text-decoration: none;
        color: white;
    }
    .snav_btn .sb,.db{
        width: 100%;
         font-size: 1rem;
        padding: 12px 16px;
        border-radius: 15px;
    }
     .snav_btn a:hover{
        border-bottom: 1px solid white;
     }
     .snav_btn1:hover .snav_btn{
        transform: translateY(-38.2rem);
        display: flex;
     }
        .tiers{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
     }
     .wbox{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: center;
        align-items: center;
     }
}
@media screen and (min-width:769px) and (max-width:991px){
        .nav{
        width: 100%;
        height: 4rem;
    }
      .na,.btnn{
        display: none;
    }
     .snav{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .snav_btn1{
        height: 3.5rem;
        width: 13rem;
        position: fixed;
        bottom: 5%;
        border: none;
        color: white;
        padding: 1rem 3rem;
        font-size: 1.3rem;
        border-radius: 5px;
         background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); 
    }
     .snav_btn{
        position: relative;
        right: 3rem;
        height: 35.2rem;
        width: 13rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        font-size: 1.2rem;
        padding: 1.7rem;
        border-radius: 15px;
         background:linear-gradient(to bottom,#2D47D6,#2336B1,#0C1267);
        display: none;
    }
    .snav_btn a{
        margin: 0.8rem 0;
        text-decoration: none;
        color: white;
    }
    .snav_btn .sb,.db{
        width: 100%;
         font-size: 1rem;
        padding: 12px 16px;
        border-radius: 15px;
    }
     .snav_btn a:hover{
        border-bottom: 1px solid white;
     }
     .snav_btn1:hover .snav_btn{
        transform: translateY(-38.2rem);
        display: flex;
     } 
     .hd{
        margin: 4rem 0;
     }
     .hd h1{
        font-size: 4.5rem;
     }  
     .imgtier h1{
        margin: 1rem;
     }
        .tiers{
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
     }
       .tiers .tier:nth-child(odd){
        margin-left:35%;
     }
      .wbox{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
     }

}
@media screen and (min-width:576px) and (max-width:767px){ 
    .nav{
        width: 100%;
         height: 3rem;
    }
      .na,.btnn{
        display: none;
    }
     .snav{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .snav_btn1{
        height: 3.5rem;
        width: 13rem;
        position: fixed;
        bottom: 5%;
        border: none;
        color: white;
        padding: 1rem 3rem;
        font-size: 1.3rem;
        border-radius: 5px;
         background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); 
    }
     .snav_btn{
        position: relative;
        right: 3rem;
        height: 35.2rem;
        width: 13rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        font-size: 1.2rem;
        padding: 1.7rem;
         border-radius: 15px;
         background:linear-gradient(to bottom,#2D47D6,#2336B1,#0C1267);
        display: none;
    }
    .snav_btn a{
        margin: 0.8rem 0;
        text-decoration: none;
        color: white;
    }
    .snav_btn .sb,.db{
        width: 100%;
         font-size: 1rem;
        padding: 12px 16px;
        border-radius: 15px;
    }
     .snav_btn a:hover{
        border-bottom: 1px solid white;
     }
     .snav_btn1:hover .snav_btn{
        transform: translateY(-38.2rem);
        display: flex;
     }
     .hd{
        margin: 1.5rem 0;
     }
     .hd h1{
        font-size: 4rem;
     }
      .tiers{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
     }
     .tiers .tier:nth-child(odd){
        margin-left:15%;
     }
      .wbox{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
     }
       .fpp p{
        margin-top:-0.5rem ;
    }
}
@media screen and (max-width:575px){
    .nav{
        width: 100%;
        height: 2rem;
    }
      .na,.btnn{
        display: none;
    }
     .snav{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .snav_btn1{
        height: 3.5rem;
        width: 13rem;
        position: fixed;
        bottom: 5%;
        border: none;
        color: white;
        padding: 1rem 3rem;
        font-size: 1.3rem;
        border-radius: 5px;
         background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); 
    }
     .snav_btn{
        position: relative;
        right: 2.9rem;
        height: 35.2rem;
        width: 13rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        font-size: 1.2rem;
        padding: 1.7rem;
        border-radius: 15px;
         background:linear-gradient(to bottom,#2D47D6,#2336B1,#0C1267);
        display: none;
    }
    .snav_btn a{
        margin: 0.8rem 0;
        text-decoration: none;
        color: white;
    }
    .snav_btn .sb,.db{
        width: 100%;
         font-size: 1rem;
        padding: 12px 16px;
        border-radius: 15px;
    }
     .snav_btn a:hover{
        border-bottom: 1px solid white;
     }
     .snav_btn1:hover .snav_btn{
        transform: translateY(-38.2rem);
        display: flex;
     }
     .hd h1{
        font-size: 3rem;
     }
     .tiers{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .partnr h3{
        font-size: 2rem;
     }
     .box{
        margin: 0 1rem;
     }
      .wbox{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
      .fpp p{
        margin-top:-0.5rem ;
    }
    .tl h2{
        font-size: 2rem;
    }
    .fpp button{
        padding: 12px;
        font-size: 1rem;
    }
    .fp p{
        margin: 0 0.8rem;
    }
    .fat{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
    .ff{
        margin: 0.6rem;
    }
    .pl{
        margin: 0 0.8rem;
    }
    .cpy p{
        font-size: 1.2rem;
    }
}
/* ------------media query------------ */


