/* -----------signup page------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.form{
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    height: fit-content;
    width: 500px;
    padding: 2.5rem;
    margin: auto;
    text-align: left;
}
.flogo{
    margin-top: -33px;
    display: flex;
    align-items: center;
    position: relative;
    right: 12px;
}
.flogo h4{
    font-size: 1.2rem;
}
.flogo img{
    height: 3rem;
    width: 3rem;
}
label{
    font-size: 18px;
    margin: 8px 0;
}
input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid grey;
}
.form h3{
    font-size: 1.8rem;
    margin: 1rem 0;
}
.name{
    display: flex;
    justify-content: space-between;
}
.fn input,.ln input{
    display: block;
     margin-top: 8px;
}
.email,.pass,.conpass,.rfrlc,.ctxt{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
::placeholder{
    font-size:1rem ;
}
.ctxt{
    opacity: 0.6;
    font-size: 1.1rem;
    line-height: 1.5;
    word-spacing: 1px;
}
.ctxt a{
    color: black;
    font-weight: bold;
}
.btn{
    text-align: center;
    margin-top: 16px;
}
.btn a{
     opacity: 0.6;
     color: black;
}
.btn button{
    font-size: 1.2rem;
    width: 100%;
    padding: 8px 24px;
    color: white;
    background-color: #1c64f2;
    margin-bottom: 16px;
    border: none;
    border-radius: 5px;
}
.btn button:hover{
    background-color: #2626e6;
}
.btn a:hover{
    cursor: pointer;
    text-decoration: underline;
}
input:focus{
    border: 3px solid #1c64f2;
}
/* -----------signup page------------- */

/*------------media query-------------- */
@media screen and (max-width:575px){
    .form{
        width: 90%;
        margin: 0.2rem auto;
    }
    input{
        width: 100%;
    }
    .ctxt input{
        width: 13px;
    }
}
/*------------media query-------------- */




